@model IEnumerable<MeetingsPets.Models.CadastrarPet>
@{
    ViewBag.Title = "Principal";
}

<h2>Principal</h2>
<table class="table table-hover table-striped">
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Raça</th>
        <th>Sexo</th>
        <th> </th>
    </tr>
</table>
