
@{
    ViewBag.Title = "Logar";
}

<br /><br />
<h2 class="text-center">Acesso Restrito</h2>
<br /><br /><br /><br /><br />

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Informe seu Usuário</h2>
        <label for="inputEmail" class="sr-only text-center">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="voce@exemplo.com" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="********" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Lembre de mim
            </label>
        </div>
        <p><a href="/Pet/ListarPet" class="btn btn-lg btn-success">Entrar</a></p>
    </form>

</div>


